nav {
    background-color: darkgrey;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    color: #fff;
    font-size: 16px;
    font-family: 'Helvetica', serif;
    display: block;
    padding: 30px 15px;
    transition: .5s;
}

nav li a:hover {
    background: #000;
}